/* Exo 1 */
section{
    max-width: max-content;
    position:relative;
}
#exo1 h1::before{
    content:"";
    background-color: red;
    height: 3px;
    width: 0%;
    transition: 1s;
    bottom:0;
    position:absolute;

}
#exo1 h1:hover::before{
    width: 100%;
    
}
/* fin Exo 1 */

/* Exo 2 */
#exo2 h1::before{
    content:"";
    background-color: red;
    height: 3px;
    width: 0%;
    transition: 1s;
    left:50%;
    bottom:0;
    position:absolute;

}
#exo2 h1:hover::before{
    width: 100%;
    left:0%
}

@keyframes h1exo2
{
    from{

    }
    to{}
}

/* fin Exo 2 */

/* Exo 3 */
#exo3 h1::before{
    content:"";
    background-color: red;
    height: 0;
    width: 100%;
    transition: 1s;
    bottom:0;
    position:absolute;
    z-index:-1;

}
#exo3 h1:hover::before{
    height: 100%;
    z-index: -1;
    
}
.pipo{
    
}
/* fin Exo 3 */
